.center_in{
width:980px;
height:auto;
background-image:url(../../images/image_index/bg_iPhone.jpg);
position:relative; 
}
.center_in_iphone{
width:94px; 
height:25px; 
float:left;
}
.center_in_Android{
width:94px; 
height:25px; 
margin-left:8px;
float:left;
}
.center_in_AnNiu{
width:198px; 
height:46px; 
text-align:center; 
line-height:46px; 
margin-left:182px;
padding-top:0px;
background-image:url(../../images/image_index/AnNiu.jpg);
}
.AnNiu_UP{
width:363px; 
height:89px;
padding-right:530px;
padding-left:85px;
padding-top:165px; 
font-size:13px; 
font-weight:bold; 
color:#FFFFFF
}
.SPAN1{
width:363px;
height:90px;
}
.tesegongneng{
width:700px; 
height:20px;
padding-left:41px;
padding-top:65px; 
font-size:14px; 
color:#333333;
font-weight:bold
}
.GeKuaiBiaoTi{
font-size:14px; 
line-height:20px; 
color:#333333;
font-weight:bold; 
display:block; 
padding-bottom:8px
}
