body{
margin:0;
padding:0;
}
.daoHang_smallblock{
line-height:42px;
color:#fff;
text-align:center;
background-color:#ff7e23;
}
.daoHang_smallblock_exception{
line-height:42px;
color:#fff;
text-align:center;
background-color:#712704;
}
#a_a{
text-decoration:none;
}
.center_in_1{
width:963px; 
padding-left:37px; 
padding-top:33px; 
border:1px solid #CCC; 
margin:0 auto
}
.center_in_2{
width:665px; 
height:37px; 
float:left; 
font-size:14px; 
line-height:37px; 
background-image:url(../../images/thirdVersion/zhuce_123.jpg)
}
.center_in_3{
width:343px; 
height:26px; 
padding-left:3px; 
padding-top:10px;
background-image:url(../../images/thirdVersion/text_kuang.jpg)
}
.center_in_yangzheng{
width:75px; 
height:29px; 
padding-top:8px; 
float:left; 
padding-left:5px;
background-image:url(../../images/thirdVersion/yanzheng_kuang.jpg)
}
.center_in_4{
width:665px; 
height:37px; 
float:left; 
font-size:14px; 
line-height:37px; 
background-image:url(../../images/thirdVersion/pic_zhuce_2.jpg)
}
.center_in_5{
width:665px; 
height:37px; 
float:left; 
font-size:14px; 
line-height:37px; 
background-image:url(../../images/thirdVersion/pic_zhuce_3.jpg)
}