body{
padding:0;
margin:0;
}
.center_shouye{
float:left; 
margin-left:5px;
font-size:14px;
color:#818181;
display:inline
}
.hotel_name{
width:100%; 
line-height:53px; 
color:#f67e03; 
font-weight:bold;
font-size:26px
}

.content_ {
width:832px;
line-height:34px;
font-weight:bold;
font-size:18px;
margin-bottom:12px;
}
.yzj_yangshi{
width:100%; 
nim-height:25px; 
line-height:25px
}
.yzj_yangshi_span1{
font-size:16px;
float:left;
width:30%;
color:#fc8b0b;
font-weight:bold;
}
.yzj_yangshi_span2{
font-size:16px;
float:left;
width:35%;
color:#fc8b0b;
font-weight:bold;
}
.yzj_ys_60h{
width:100%; 
height:60px; 
font-size:16px;
line-height:60px; 
text-align:center
}
.yanse{
color:#fc8b0b;
}
.biaoti_tiao{
width:701px; 
height:36px; 
font-weight:bold; 
line-height:36px; 
font-size:14px;
margin-bottom:15PX;
background-image:url(../../images/thirdVersion/pic_bg_bt.gif)
}
.biao_kuai{
width:211px; 
height:40px;
border-right:1px solid #CCC; 
float:left
}
.hang_yangshi{
width:100%; 
height:40px;
border-bottom:1px solid #CCC; 
text-align:center; 
line-height:40px
}
.gmaxuzhi{
font-weight:bold; 
font-size:14px; 
margin-left:5px; 
float:left; 
display:inline
}
.bt_lan{
width:100%; 
height:37px; 
font-size:14px;
line-height:37px;
background-color:#fafafa; 
border-bottom:1px solid #CCC;
border-top:1px solid #CCC
}
.qianggou_yangshi{
width:290px; 
height:60px; 
padding-top:10px;
padding-right:20px;
position:absolute; 
left:-8px; top:0px; 
background:url(../../images/thirdVersion/anniu_tongyi.png) no-repeat scroll -12px -428px;
cursor: pointer;
}
.dh_outside{
width:100%; 
height:42px; 
background-color:#ff7e23
}
.dh_outside_in{
width:1202px; 
height:42px; 
margin:0 auto; 
position:relative
}
.dh_outside_in_kjcz{
width:248px; 
height:49px; 
position:absolute; 
background-image:url(../../images/thirdVersion/pic_kjcz.jpg);
left:0px; top:-7px
}
.dh_outside_in_kjcz_in{
width:80px; 
height:20px; 
margin-right:83px;
float:right;
display:inline;
margin-top:21px
}
.dh_outside_in_kjcz_in_word{
color:#fff; 
font-size:14px; 
font-weight:bold;
}
.dh_menu_outside{
width:954px; 
height:42px; 
position:absolute; 
font-size:14px; 
font-weight:bold; 
left:248px; 
top:0px
}
.dh_menu_bar{
background:url(../../images/thirdVersion/banner_fgx.jpg) no-repeat; 
float:left; 
width:2px; 
height:42px;
}
.daoHang_smallblock{
line-height:42px;
color:#fff;
text-align:center;
background-color:#ff7e23;
}
.daoHang_smallblock_exception{
line-height:42px;
color:#fff;
text-align:center;
background-color:#712704;
}
.gg span{
	background: url("../../images/diet/main/t_zuoxiang.png") no-repeat scroll 0 -99px transparent;
	margin-left: 15px;
}
.select1{
	border-top:2px solid #f67f21; margin-top:-1px;
	background: #FFF;
}
.qiehuan div:hover{
	cursor: pointer;
}
.center_right{
width:893px; 
font-family:'微软雅黑'; 
border:1px solid #CCC; 
font-size:12px
}
.center_right_title{
width:100%; 
height:35px;
border-bottom:1px solid #CCC; 
background-color:#f5f5f5;
margin-top:-1px; 
margin-bottom:20px; 
text-align:center; 
line-height:35px
}
.cxxq{
width:108px; 
height:35px; 
float:left
}
.hypj{
width:108px; 
height:35px; 
background-color:#FFF; 
border-top:3px solid #FF6600;
float:left
}
.xfpj{
width:851px; 
height:auto; 
margin:0 auto; 
border:1PX solid #CCC
}
.xfpj_title{
width:100%; 
font-weight:bold; 
line-height:37px; 
border-bottom:1PX solid #CCC; 
height:37px; 
background-color:#f5f5f5
}
.xfpj_word{
float:left;
margin-left:10px; 
display:inline
}
.wypj_word{
float:right; 
margin-right:10px; 
color:#FF9900;
display:inline
}
.wmgbd{
float:right; 
display:inline
}
.xfpj_xx{
width:849px; 
height:137px;
}
.xfpj_kuai{
width:281px; 
height:137px; 
border-right:1px solid #CCC; 
line-height:30px; 
float:left
}
.kuai_1{
width:100%; 
margin-top:25px; 
text-align:center;
font-weight:bold
}
.kw_hang{
width:219px;
height:33px; 
padding-left:62px;
font-weight:bold
}
.kw_word{
width:35px;
float:left; 
margin-right:20px
}
.kw_wuxihng{
float:left; 
width:100px; 
margin-right:20px
}
.span_fen{
color:#ec5631; 
font-size:24px
}
.kuai_1_wuxing{
width:100%; 
text-align:center;
font-weight:bold
}
.xf_pj{
width:851px; 
padding-top:25px; 
margin:0 auto
}
.xf_pj_title{
width:100%; 
text-align:center; 
line-height:32px; 
margin-bottom:20px;
background-color:#f5f5f5; 
height:32px
}
.xf_pj_word{
width:80px; 
height:32px;
float:left; 
margin-left:10px; 
display:inline
}
.a_shijian{
width:70px; 
height:32px;
float:right
}
.m_ren{
width:70px; 
height:32px;
float:right
}
.wdnrpj{
width:100px; 
height:32px;
float:right
}
.wodpj_kuai{
width:831px;
border-bottom:1px solid #CCC;
 padding:10px;
}
.wodepj_xinghang{
width:97%; 
height:20px;
margin-bottom: 10px;
}
.wodepj_nic{
float:left;
color:#999; 
margin-left:10px; 
display:inline
}
.wuxing_pj_hang{
width:80px;
float:right
}
.content_pj{
width:100%
}
.content__pj_in{
width:100%; 
height:auto;
margin: 5px 0;
}
.content_pj_in_word{
margin-left:10px;
}
.wypj_word{
	cursor: pointer;
}

.mainKuang{
height:442px;
border:1px solid #ff7d23;
font-size:14px;
background: #FFF;
display: none;
}
.title_{
width:100%; 
height:30px; 
font-size:14px; 
font-weight:bold;
color:#FFF;
background-color:#ff7d23
}
.hang_yangshi_{
width:100%; 
height:23px; 
margin-bottom:24px;
}
.xingqiang_wenzi{
width:115px;
height:23px;
text-align:right; 
float:left
}
.wenben_kuang{
height:99px; 
width:334px; 
height:99px;
float:left;
overflow:visible;
display:inline;
margin-left:25px
}
.baocun{
width:69px; 
height:33px; 
margin-left:157px; 
display:inline; 
color:#FFF; 
line-height:33px; 
font-weight:bold; 
text-align:center;
background-image:url(imgs/pic_anniu.gif);
float:left
}
.wenbenkuang_div{
height:103px; 
width:100%; 
margin-bottom:19px
}