/* CSS Document */

.shop_main{
width:980px; height:auto; margin:0 auto;
}
.shop_main_pic{
width:980px; height:340px; margin:36px auto 10px auto;
}

.shop_jianjie{
width:980px; height:186px; margin: 0 auto; background:url(../../images/images_index/shopM_bg.jpg) repeat-x;
}
.shop_jianjie_left{
width:770px; height:163px; float:left;
}
.shop_jianjie_left_title{
width:720px; height:33px; padding-left:32px; padding-top:12px;font-family:Arial, Helvetica, sans-serif; font-size: 24px; font-weight:bolder;
}
.shop_jianjie_left_content{
 width:100%; height:102px; margin-top:1px; font-size:12px;
}
.shop_jianjie_left_content ul{
list-style:none; margin-left:32px; margin-top:6px; padding:0;
}
.shop_jianjie_left_content ul li{
line-height:22px;
}
.shop_jianjie_right{
width:140px; height:160px; float:left;
}
.shop_messgae{
width:980px; height:394px; margin:12px auto 0px auto; background:#FFFFFF;
}
.shop_messgae_top{
width:980px; height:34px;
}
.shop_messgae_content{
width:980px; height:360px;
}
.shop_messgae_content_left{
width:554px; height:350px; float:left; padding-top:10px;font-size:12px;
}
.shop_messgae_content_left_content{
 width:498px; height:78px; margin:16px auto; border-bottom:1px dashed #000000;
 }
 
.shop_messgae_content_left_content ul{
 width: 90%;padding-left:0px;
}
 
.shop_messgae_content_right{
 width:383px; height:308px; float:left; padding:26px 22px 26px 0;
 }
.shop_tuijian{
 width:980px; height:auto; margin:0 auto; background:#FFFFFF;float: left;
 }
 .shop_tuijian li{
list-style: none;
 }
 
 .shop_tuijian_title{
 width:935px; height:38px; background:url(../../images/images_index/shop_banner_H38.jpg) repeat-x; line-height:38px; font-weight:bold; padding-left:25px;
 }
 .shop_tuijian_content{ 
  width:920px; height:auto; padding:15px 20px 20px 20px; font-size:12px;
 }
 .shop_tuijian_content_left{ 
  width:650px; height:auto; float:left;
 }
 .shop_tuijian_content_right{
  width:270px; height:auto; float:left;
 }
.shop_tuijian_content_right_title{
 width:185px; height:41px;
 }
 .shop_tuijian_content_right_kj{
 width:268px; height:238px;
 }
 .shop_tuijian_content_right_kj ul{
 width: 235px; height:220px; margin-top:20px; padding-left:8%;
 }
.shop_tuijian_content_right_kj li{
 width:230px; height:80px; border-bottom:1px solid #e97500; line-height:20px; margin-bottom:6px;
 }
.shop_tuijian_content_font{
 text-align:center; height:24px; line-height:24px;
} 
.bottom{
width:980px; height:70px; border-top:4px solid #FFCC33; margin:0 auto; text-align:center; padding-top:20px; font-size:12px;
}
 
.food_shop{
width:152px; height:144px; float:left;margin-right:10px;
}


.price_red_right_b{ 
 color:#FF0000; float:right;font-weight:bold;
 }
