* html{
	background-attachment: fixed;
}  /*解决IE6下滚动抖动的问题*/
#tbox {
	width: 47px;
	height:300px;
	float: right;
	position: fixed;
	_position: absolute;
	_bottom: auto;
	_top: expression(eval(document . documentElement . scrollTop + document .
		documentElement . clientHeight-this . offsetHeight-(parseInt(this .
		currentStyle . marginTop, 10) || 0 ) -(
		parseInt(this . currentStyle . marginBottom, 10) || 0 ) ) );
	_margin-bottom: 10px;
}  /*解决IE6下不兼容 position:fixed 的问题*/
#jianyi {
	width: 47px;
	height: 25px;
	background: url(../../../common/images/diet/footimages/suggest.png)
		no-repeat;
	position: absolute;
	bottom: 0px;
	cursor: pointer
}

#erwei {
	width: 30px;
	height: 72px;
	cursor: pointer;
}
#gotop {
	width: 47px;
	height: 47px;
	background: url(../../../common/images/diet/footimages/top01.png)
		no-repeat;
	position: absolute;
	bottom: 26px;
	cursor: pointer
}

#jianyi :hover {
	background: url(../../../common/images/diet/footimages/suggest.png)
		no-repeat 0px -26px;
}

#gotop :hover {
	background: url(../../../common/images/diet/footimages/top02.png)
		no-repeat;
}