body{
margin:0;
padding:0;
}
.title_xk{
width:100px; 
height:30px; 
line-height:30px;
border-right:1px solid #b6cee8;
background-color:#f7fbfe;
float:left;
font-weight:bold; 
text-align:center
}
.daohang_wai{
width:1200px; 
height:30px;
border-bottom:2px solid #b6cee8;
}
.main{
width:1202px; 
margin:0 auto;
font-size:12px;
font-family:"微软雅黑";
}
.center_right_cjfx_jzl{
width:966px; 
font-weight:bold; 
height:34px;
border:1px solid #e6e6e6; 
border-bottom:2px solid #c10003; 
color:#c10003; 
line-height:36px
}
.shousuo_div{
width:46px; 
height:25px; 
color:#FFF; 
text-align:center; 
line-height:26px;
margin-top:1px; 
background-image:url("..//images/competence/pic_ss_an.gif"); 
float:left
}
.anniu_jh{
width:80px; 
height:28px;
line-height:28px;
float:left;
background-image:url("..//images/competence/an_jh.gif");
font-weight:bold; 
text-align:center;
margin:5px;
display:inline;
margin-top:3px; 
margin-bottom:0px;
color:#ff6409;
}
.biao_bt{
width:170px; 
height:35px;
float:left; 
}

.biao_div{
width:100%; 
height:35px; 
background-color:#f5f5f5; 
border-bottom:1px solid #CCC;
text-align:center;
line-height:35px;
}

.biao_div_2{
width:100%; 
height:35px; 
border-bottom:1px solid #CCC;
text-align:center;
line-height:35px;
}
.juhongse{
color:#ff6a04;
}
.dlan{
margin-left:70px;
margin-right:50px; 
color:#5ba1dc
}
.zuobianju{
margin-right:10px;
}
.hang_yangs{
width:931px; 
height:38px;
padding-left:12px;
}
.shangbian{
width:100%; 
height:33px;
position:relative; 
background-image:url("..//images/competence/pic_shangbiank.gif")
}
.xx_center{
width:100%; 
background-color:#f6f6f6
}
.xx_center_k{
width:943px; 
height:194px; 
line-height:38PX; 
margin-left:15px;
border-bottom:1px dashed #CCC
}
.bt_2x{
width:100%; 
height:38px
}
.caidan_da{
width:10px; 
height:9px; 
margin:12px;
margin-bottom:0px; 
margin-right:8px; 
display:inline; 
float:left; 
background-image:url("..//images/competence/jianhao.gif")
}
.left_in_div{
width:182px; 
height:107px; 
border:2px solid #e6edf3; 
background-image:url("..//images/competence/pic_left_bg.gif"); 
float:left
}
.caidan_word_da{
width:120px; 
height:32px; 
line-height:32px; 
float:left; 
color:#5ba1dc
}
.left_ge_h{
width:100%; 
height:32px; 
line-height:32px
}
.left_jli{
margin-left:30px;
}
.div_sy{
width:39px; 
height:20px; 
text-align:center; 
line-height:20px; 
background-color:#eaeef1; 
float:left
}
.jzl{
width:100px; 
color:#4983a9;
position:absolute; 
left:20px; 
top:-10px;
font-size:14px; 
font-weight:bold
}
.shuzhi{
height:15px; 
padding:3px;
float:left; 
background-color:#999
}
.center_right{
width:980px; 
padding-left:22px;
float:right; 
padding-top:10px; 
border:1px solid #d2e3f5
}
.su_div{
width:963px; 
height:35px; 
padding-top:5px; 
padding-left:5px
}
.su_div_in{
width:200px; 
height:29px; 
margin-right:20px; 
float:left
}
.xtkg{
width:968px; 
height:31px; 
border-bottom:2px solid #fdccab
}
.yeshu_div{
width:968px; 
height:43px; 
background-color:#f7f7f7; 
margin-bottom:15px
}
.yeshu_div_in{
width:200px; 
height:28px; 
padding-top:5px; 
padding-left:10px; 
padding-top:7px
}