@CHARSET "UTF-8";

body{
	padding: 0px;
	margin: 0px auto;
}
.form label, .form input, .form select, .form textarea, .form button, .form .label {
    float: left;
    font-size: 12px;
}
.right {
	float: left;
    width: 968px;
    margin-left: 10px;
}

.right .o-mt {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E6E6E6 #E6E6E6 #C30000;
    border-style: solid;
    border-width: 1px 1px 2px;
    height: 33px;
    line-height: 33px;
    margin-bottom: 10px;
}
.m, .sm {
    margin-bottom: 10px;
}
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
    overflow: hidden;
}
.right .o-mt h2 {
    color: #CC0000;
    float: left;
    padding-left: 16px;
}
.right .tab {
    margin-bottom: 10px;
}
.tab {
    border-bottom: 2px solid #FFCCAA;
    padding-left: 5px;
    z-index: 2;
}
.tab {
    overflow: hidden;
}
ol, ul {
    list-style: none outside none;
}
.tab li.curr, .tab li.curr a:link, .tab li.curr a:visited {
    color: #FF6600;
    font-weight: bold;
}
.tab li.curr {
    background-position: 0 -85px;
}

.tab li {
    background: url("../images/shop/tab.gif") repeat scroll 0 -28px transparent;
    float: left;
    height: 27px;
    line-height: 29px;
    margin-right: 3px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    text-align: center;
}
.tab li.curr s {
    background-position: 0 -57px;
}
.tab li s {
    left: 0;
}

.tab li s, .tab li b {
	background: url("../images/shop/tab.gif") repeat scroll 0 0 transparent;
    height: 27px;
    position: absolute;
    top: 0;
    width: 3px;
}
.tab li b {
    background-position: -7px 0;
    right: 0;
}
.tab li.curr b {
    background-position: -7px -57px;
}


<!--top 结束 -->
.right .i-m {
    float: left;
    padding-top: 10px;
    width: 600px;
}

#baseinfo .i-m .item {
    padding-bottom: 20px;
}
.right .form .item {
    margin-bottom: 0;
}


.right .item .label {
    color: #666666;
    text-align: right;
    width: 185px;
}
.right .form .label, .right .form label {
    line-height: 25px;
    margin-right: 8px;
}

h4, h5, h6 {
    font-size: 12px;
}
.right .i-m h5 {
    border-bottom: 1px solid #E6E6E6;
    color: #CC0000;
    line-height: 30px;
    margin-bottom: 20px;
    padding-left: 15px;
}



.sele {
    margin-right: 10px;
}

.right .i-m .form .text {
    width: 140px;
}
.form .text {
    margin-right: 5px;
}

.form .text, .form .area, .sele {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #AAAAAA #DDDDDD #DDDDDD #AAAAAA;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}




.right-extra {
    float: right;
    padding-top: 20px;
    width: 150px;
}
.right-extra .m {
    text-align: center;
    width: 122px;
}
.m, .sm {
    margin-bottom: 10px;
}


a:link, a:visited {
    color: #333333;
    text-decoration: none;
}
.btn-7 {
	line-height: 25px;
    background-position: right -393px;
}
.btn {
    display: inline-block;
    padding-right: 13px;
}
